@font-face {
  font-family: 'Univers Next W04 620 Cond Bold'; /* Replace with your font's name */
  src: url('/Univers Next W04 620 Cond Bold.ttf') format('truetype'); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-attachment: fixed; /* Optional: This will make the background fixed when scrolling */
}

#__next {
  min-height: 100%;
}